
.top-container {
  text-align: center;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 3rem;

}
.hill{
  padding-top: 100px;
  width: 50%;
  margin: auto;
  max-width: 1000px;
  background-color: #E4F9F5;
}
.Intro{
  font-size: 2.5rem;
    text-align: center;
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 1;
}


hr{

  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-color: grey;
  width: 7%;

}
.middle-container{
  position: relative;
  padding: 3rem;
}
.profile{
  padding-bottom: 3rem;
}
.get-desc{
  margin: auto;
  width: 50%;


}
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.skills{
  width: 55%;
  margin: auto;
  max-width: 1000px
}
.eth-pic{
  width: 100%;
  margin: auto;
  max-width: 1000px
}
h1 {
  font-size: 870%;
  margin-top: 0;
  color: #66bfbf;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 60px;
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
}

.profile{
  margin: 0 auto;
    max-width: 460px;
}
.chibi{
  border-radius: 50%;
}
.hello-desc{
  margin: 0 0 10px;
    font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 600;
}
.code-desc{
  font-weight: 600;
}
.get-desc{
  font-weight: 600;
  max-width: 460px;
  margin: auto;
}
h3 {
  color: #1e836c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.8em;
}
.skill-row{
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.coding{
  border-radius: 25%;
  width: 19rem;
  float: left;
  margin-right: 35px;
  padding-right: 1rem

}
.eth{
  border-radius: 25%;
  width: 15rem;
  float: right;
  margin-left: 10px;
  padding-right:  1rem;
}
.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container{
  text-align: center;
  background-color: #66bfbf;
  position: relative;
  padding: 100px;
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.8em;

}
.copyright{
  color: #eaf6f6;
}

.button {
  width: 15.0rem;
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #11999e;
  color: #ffffff;
  font-weight: 100;
  -webkit-border-radius: 3px;
  border-radius: 8%;

}

.button:hover {
  background-color: #ffffff;
  color: #11999e;
  border-color: #11999e;
}
